body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d2b39;
  }
  
#container {
    border-radius: 5px;
    background-color: white;
}